*{
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.landing{
  height: 100vh;
  height: 100vh;
  width: 100vw;
  margin-left: 3rem;
  margin-right: 2rem;
   

    .nav-header{
        display: flex;
        justify-content: space-between;
        height: 9%;
        margin-top: 1rem;

    }

    .body{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        align-content: center;
       width: 90%;


        .text{
            color: rgb(48, 47, 47);
            justify-self: center;
            align-self: center;
            align-content: center;
            height: fit-content;

            .bold{
                font-weight: 700;
                color: rgb(0, 96, 141);
                font-size: 2.5rem;
                margin-bottom: 2rem;
                display: flex;
                align-self: center;
                width: 100%;
                font-family: 'Bebas Neue', cursive;
            }
            
            .paragraph{
                margin-bottom: 1.2rem;
                font-weight: 500;
                
            }
            .login-btn{
                width: 100%;
                margin-top: 2.2rem;

                button{
                    background-color: rgb(13, 162, 231) ;
                    color: white;
                    font-size: 1.3rem;
                    box-sizing: content-box;
                    padding: 0.2rem 1.2rem;
                    border-radius: 20px;
                    border: none;

                   &:hover{
                       transition: ease-in-out;
                       background-color: rgb(0, 96, 141);
                   }
                }
            }
            
        }

        .mag-glass{
            width: 85%;
            height: inherit;
            // border: 1px solid green;
            display: flex;
            flex-direction: row;
            justify-self: center;
            align-content: center;
            justify-content: center;
            

            .search-image{
                height: inherit;
                width: inherit;
            }
        }
    }

   

}

@media screen and (max-width: 686px){
    
    .landing{
        background-color: aquamarine;
        margin: 0;

        .nav-header{
            margin-left: 1rem;
        }

        .body{
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
    }
}

